
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
 /* background: #585858;*/
  background-image: url("../img/back.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 80px;
  text-align: center;
  font-size: 50px;
  color: white;
}

.login {
  width: 400px;
  margin: 16px auto;
  margin-top: 80px;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background-color: rgba(34, 116, 183, 0.9);
  padding: 20px;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  height: 50px;
}

.login-container {
  background-color: rgba(180, 180, 180, 0.7);
  padding: 12px;
  height: 330px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 18px;
  margin-top: 5px;
}


.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  margin-top: 20px;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background-color: rgba(180, 180, 180, 0.9);
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  border: 0px;
}

.login input[type="submit"]:hover {
  background-color: rgba(200, 200, 200, 0.9);
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border: solid 0px;
}
