
body {
  font-family: 'Open Sans', sans-serif;
}



.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 750px;
}

h1 {
  font-size: 50px;
  float: left;
  margin-top: 5px;
}

.logout {
  float: right;
  font-size: 40px;
  margin-top: 5px;
  padding: 5px;
}

.menu {
  clear:both;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

.menu .left {
  float: left;
  margin-top: 50px;
  border: solid 1px black;
  width: 350px;
}

.menu .right {
  float: right;
  margin-top: 50px;
  border: solid 1px black;
  width: 370px;
}

a {
  clear: both;
  font-size: 30px;
  text-align: center;
}
