<html>
<head>
{%load static%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>

<form action="{% url next_page %}" method="post">
{% csrf_token %}
<ul>
<script type="text/javascript" src={% static 'emsapp/js/timepull.js' %}></script>
  {% for eq in equipments %}
    <li><input type="checkbox" name="eq_list" id = "{{eq.eq_id}}" value="{{eq.eq_id}}"/>{{eq.eq_name}}
    {% if flag == 1 %}
    <select name="year" class="date" id="year{{ eq.eq_id }}">
    </select>
    年
    <select name="month" class="date" id="month{{ eq.eq_id }}">
    </select>
    月
    <select name="day" class="date" id="day{{ eq.eq_id }}">
    </select>
    日
    <script>
    $('.date').prop('disabled', true);
    $('input[type="checkbox"]').click(function(){
	var id = $(this).attr('id');
	if($(this).is(':checked')){
	  $('#year'+id).prop('disabled', false);
	  $('#month'+id).prop('disabled', false);
	  $('#day'+id).prop('disabled', false);
	} else {
	  $('#year'+id).prop('disabled', true);
          $('#month'+id).prop('disabled', true);
          $('#day'+id).prop('disabled', true);
	}
    });
    optionLoop(2005, this_year, 'year{{ eq.eq_id }}', this_year);
    optionLoop(1, 12, 'month{{ eq.eq_id }}', this_month);
    optionLoop(1, 31, 'day{{ eq.eq_id }}', this_day); 
    </script>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<input type="submit" value="決定">
</form>

<a href="{% url 'menu' %}">戻る</a>

<script>

</script>
</body>
</html>
