<html>
<body>
<form action="{% url 'eq_restore' %}" method="POST">
{% csrf_token %}
廃棄備品検索情報入力画面<br />
物品種別<br />
<input type="radio" name="Equipment" value="PC">PC
<input type="radio" name="Equipment" value="周辺機器">周辺機器
<input type="radio" name="Equipment" value="ソフトウェア">ソフトウェア
<input type="radio" name="Equipment" value="事務用品">事務用品
<input type="radio" name="Equipment" value="電化製品">電化製品
<input type="radio" name="Equipment" value="家具">家具
<input type="radio" name="Equipment" value="書籍">書籍
<input type="radio" name="Equipment" value="消耗品">消耗品
<input type="radio" name="Equipment" value="その他" checked>その他
<br />
利用者
<select name="">
{% for users in user_list %}
<option value="">{{users.user_name}}</option>
{% endfor %}
</select>


<br />
登録日
<select name="purchasemonth" id="id_year">
</select>
年
<select name="purchasedate" id="id_month">
</select>
月
廃棄日
<select name="disposalmonth" id="id2_year">
</select>
年
<select name="disposaldate" id="id2_month">
</select>
月

<br />
<input type="submit" value="検索">

</form>
{%load static%}
<script type="text/javascript" src={% static 'emsapp/js/timepull.js' %}></script>
<script>
	optionLoop(2005, this_year, 'id_year', this_year);
	optionLoop(1, 12, 'id_month', this_month);
	optionLoop(2005, this_year, 'id2_year', this_year);
	optionLoop(1, 12, 'id2_month', this_month);
</script>
</body>
</html>



