<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<form action="{% url next_page %}" method="POST">
{% csrf_token %}
{{page_title}}検索情報入力画面<br />
物品種別<br />
<input type="radio" name="category" value="PC">PC
<input type="radio" name="category" value="周辺機器">周辺機器
<input type="radio" name="category" value="ソフトウェア">ソフトウェア
<input type="radio" name="category" value="事務用品">事務用品
<input type="radio" name="category" value="電化製品">電化製品
<input type="radio" name="category" value="家具">家具
<input type="radio" name="category" value="書籍">書籍
<input type="radio" name="category" value="消耗品">消耗品
<input type="radio" name="category" value="その他" checked>その他
<br />
利用者
<select name="owner">
{% for users in user_list %}
<option value={{users.user_name}}>{{users.user_name}}</option>
{% endfor %}
</select>


<br />
登録日 <input type="button" name="regist_date" value = "入力する" id = 'p_exist'>
<input type="button" name="regist_nodate" value = "入力を取り消す" id = 'p_noexist'>


<select name="pur_year" id="id_year">
</select>
年
<select name="pur_month" id="id_month">
</select>
月
<br />
{% if page_title != "(廃棄)" %}
廃棄日 
<input type="button" name="disposal_date" value = "入力する" id = 'd_exist'>
<input type="button" name="disposal_nodate" value = "入力を取り消す" id = 'd_noexist'>
<select name="dip_year" id="id2_year">
</select>
年
<select name="dip_mounth" id="id2_month">
</select>
月

<br />
{% endif %}


<input type="submit" value="検索">

</form>
{%load static%}
<script type="text/javascript" src={% static 'emsapp/js/timepull.js' %}></script>
<script>

$('#p_exist').on('click',  function(e){
	myEnter(1);
});

$('#p_noexist').on('click',  function(e){
	$("#id_year").empty();
	$("#id_month").empty();
});

$('#d_exist').on('click',  function(e){
		    myEnter(2);
});

$('#d_noexist').on('click',  function(e){
	$("#id2_year").empty();
	$("#id2_month").empty();
});
function myEnter(flag) {
  myRet = confirm("日付の入力をしますか？");
  if ( myRet == true ){
    if (flag == 1){
      optionLoop(1950, this_year, 'id_year', this_year);
	  optionLoop(1, 12, 'id_month', this_month);    
    } else {
	  optionLoop(1950, this_year, 'id2_year', this_year);
	  optionLoop(1, 12, 'id2_month', this_month);       
    }
  }
}

</script>
</body>
</html>



