{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}

<div class="page-header">
<h1>削除ユーザ選択</h1>
</div>


<form action="{% url 'user_delete_comp' %}" method="post">
{% csrf_token %}
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ユーザ名</th>
  </tr>
  </thead>
  <tbody>  
  {% for users in user %}
  <tr>
    <td><input type="checkbox" name="delete_users" value="{{users.user_id}}"></td>
    <td>{{users.user_name}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


<style>
.tgle {
  background-color: white;
  border: solid 1px #d8d8d8;
}

.tgle:hover {
  background-color: #333333;
  color: white;
}
</style>

<div class="form-group">
  <input type="submit" class="btn tgle" value="削除">
  <input type="button" class="btn tgle" value="戻る" onclick="location.href='{% url 'menu'%}'">
</div>
</form>

{% endblock content%}
